* {
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: TitleFont;
	src: url("/static/fonts/Courgette-Regular.ttf");
}


@font-face {
	font-family: MainFont;
	src: url("/static/fonts/Advert-Regular.ttf");
}

html {	
	
	background: #f1f1f1;

}

body {
	
}

#topPicsDiv {
	
	float: left;
	width: 100%;
	height: 28%;
	position: relative;
	z-index: 1;
}

#topPicsDiv img {
	width: 20%;
	float: left;
	max-height: 210px;
}

#menu {
	width: 100%;
	height: 70px;
	background: #232526; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #232526 , #414345); 
	background: linear-gradient(to left, #232526 , #414345); 
	float: left;
	position: relative;
	
}

#menu p {
	font-family: TitleFont;
	color: red;
	position: absolute;
	font-size: 42px;
	width: 100%;
	text-align: center;
	padding-top: .5%;
}

#menu button {
	font-family: TitleFont;
	color: white;
	text-align: center;
	width: 10%;
	border: 0px;
	cursor: pointer;
	background: rgba(0,0,0,0);
	position: absolute;
	float: left;
	height: 100%;
	font-size: 16px;
}

#menu button.active {
	color: #232526;

	background: white;
	
	box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
}

#menu button:nth-child(3) {
	margin-left: 10%;
}

#menu button:nth-child(4) {
	margin-left: 20%;
}

#circle {
	height: 250px;
	width: 250px;
	border-radius: 100%;
	float: left;
	margin-top: 5%;
	margin-left: 40%;
	position: fixed;
	z-index: 0;
}

#content {
	width: 100%;
	float: left;
	height: 60%;
}

#facebook, #songkick, #twitter {
	width: 33.333%;
	height: 100%;
	float: left;

}

#facebook a {
	color: #0000EE;
}

#facebook a:visited {
	color: #551A8B;
}

#content h3 {
	text-align: center;
	font-family: TitleFont;
	text-decoration: underline;
}

.post {
	width: 90%;
	border: 2px solid #414345;

	float: left;
	margin-left: 5%;
	margin-bottom: 2%;
	font-family: MainFont;
	border-left: 0px; border-top: 0px; border-right: 0px; 
	/*background: #457fca; 
	background: -webkit-linear-gradient(to left, #457fca , #5691c8); 
	background: linear-gradient(to left, #457fca , #5691c8); 
    color: white;*/
}

.postImg {
	width: 25%;
	height: 100%;
	float: left;
}

.postImg img {
	height: 100%;
	width: 100%;
	padding: 5%;
}

.postContent {
	width: 75%;
	height: 100%;
	float: left;

}

.postContent a{
	text-align: left;
	width: 50%;
	padding: 0; margin: 0;
	padding-left: 2%;
	float: left;
	
	text-decoration: underline;
}

.postContent a:hover {
	color: #414345;
	color: hotpink;
}

.postTime {
	text-align: right;
	width: 50%;
	padding: 0; margin: 0;
	padding-right: 2%;
	float: left;

}

.postDesc {
	float: left;
	padding-left: 3%;
	padding-right: 3%;
}

.tweet {
	width: 90%;
	margin-left: 5%;
	float: left;
	margin-top: 2%;
	font-family: MainFont;
	border: 0px;
	border-bottom: 2px solid #414345;
}

.tweet p, .tweet a {
	float: left;
	padding: 0; margin: 0;
	padding-left: 3%;
}

.tweetTime {
	width: 100%;
	text-align: right;
	margin: 0;
	padding-left: 0;
	padding-right: 2%;
}



.event {
	float: left;
	width: 100%;
	border: 2px solid red; 
	margin-top: 2%;
}

#songkick button {

	width: 50%;
	margin-left: 25%;
	background: rgba(0,0,0,0);
	border: 0px;
	color: #0000EE;
	border: 1px solid #0000EE;
}

.event p{
	font-size: 14px;
	float: left;
	font-family: MainFont;
}

.eventName {
	width: 100%;
	text-align: center;
	font-size: 14px;
}

.location {
	text-align: left;
	width: 50%;
	margin: 0;
	padding: 0;
	padding-left: 1%;
}

.eventTime {
	text-align: right;
	width: 50%;
	margin: 0;
	padding: 0;
	padding-right: 1%;
	
}

.eventWho {
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
}

.performers {
	width: 100%;
	text-align: center;
}

.album {
	float: left;
	font-family: TitleFont;
	width: 33%;
	text-align: center;
	margin-top: 2%;
}

.album h2 {
	margin-bottom: 2%;
	text-decoration: underline;
}

#thrill {
	margin-top: 10%;
}

#fugue {
	margin-top: -20%;
}

#mfc {
	margin-top: -5%;
}

.videos {
	float: left;
	text-align: center;
	font-family: mainFont;
	width: 25%;
	font-size: 18px;
}

.videos span {
	width: 100%;
	float: left;
}


#albumVideos a {
	margin-left: 5%;
	color: #0000EE;
}

.videos a {
	color: #0000EE;
}

.videos a:visited {
	color: #551A8B;;
}


.videos h2{
	font-family: TitleFont;
	text-decoration: underline;
	margin-bottom: 10%;
}

#blakeHeader {
	margin-top: 5%;
	float: left;
	width: 100%;
}

#liveVideos {
	width: 100%;
	text-align: left;
	padding-left: 8%;
}

#liveVideos h2 {
	margin-top: 3%;
}


.social .fa-facebook{ /* round facebook icon*/
    background: #4060A5;
}

.social .fa-twitter { /* round twitter icon*/
    background: #00ABE3;
}

